.header {
    font-family: Arial;
    text-align: center;
}

.message {
    background: #f9f9f9;
    padding: 0.5em 10px;
    width: 50%;
    text-align: center;
    margin: auto;
}

.footer,
.footer a,
.footer a:visited,
.footer a:hover {
    font-family: Arial;
    text-align: center;
    color: #aaa;
    font-weight: 400;
    text-decoration: none;
}
